.deletion-container {
    /* margin-top: 80px; */
}

.deletion-container-header {
    text-align: justify;
    border-bottom: 1px dashed skyblue;
}

.deletion-list-item {
    border-bottom: 1px dashed gray;
}

.deletion-list-item:hover {
    background-color: aliceblue;
}

.deletion-section {
    text-align: justify;
    margin: 20px;
    margin-top: 80px;
}

.file-deletion-error {
    color: red;
    padding: 12px;
    text-align: center;
    font-weight: bold;
}
